version: "3"

services:
  api:
    build: .
    image: viewiq-restapi
    environment:
      SINGLE_DATABASE_API_HOST: sdb
      ALLOWED_HOSTS: api
      RABBITMQ_HOST: rabbitmq
      DB_HOST: pg
      DB_USER: postgres
      DB_PASSWORD: password
    depends_on:
      - pg
      - rabbitmq
  celery_worker:
    image: viewiq-restapi
    command: ["celery", "-A", "saas", "worker", "-l", "info"]
    depends_on:
      - rabbitmq
      - pg
    environment:
      RABBITMQ_HOST: rabbitmq
      DB_HOST: pg
      DB_USER: postgres
      DB_PASSWORD: password
  celery_beat:
    image: viewiq-restapi
    command: ["celery", "-A", "saas", "beat", "-l", "info"]
    depends_on:
      - rabbitmq
    environment:
      RABBITMQ_HOST: rabbitmq

  web:
    image: viewiq-ui
    build:
      context: ../ui
      dockerfile: Dockerfile.dist
    volumes:
      - ./.docker/conf.nginx:/etc/nginx/nginx.conf
    depends_on:
      - api
  sdb:
    image: viewiq-sdb
    build:
      context: ../singledb/.
    depends_on:
      - cassandra
      - es

  pg:
    image: postgres:9.6
    environment:
      POSTGRES_DB: saas
      POSTGRES_PASSWORD: password
  es:
    image: elasticsearch:6.4.2
  cassandra:
    image: cassandra
    expose:
      - "9042"
  rabbitmq:
    image: rabbitmq:3.7.8-management
    ports:
    - "15672:15672"