-r requirements.txt
astroid==2.5.1
coverage==5.5
django-slowtests==1.1.1
ipython==7.21.0
isort==5.7.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
moto==2.0.1
pylint-django==2.4.2
pylint-plugin-utils==0.6
pylint-quotes==0.2.1
pylint==2.7.2
tblib==1.7.0
teamcity-messages==1.28
toml==0.10.2
wrapt==1.12.1
